<div class="topnav" id="myTopnav">
    <a href="/" class="<% if(header==="home") { %> active <% } %>">Home</a>
    <a href="/bookings" class="<% if(header==="booking") { %> active <% } %>">New Booking</a>
    <a href="/logout">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="navBar()">
        <i class="fa fa-bars"></i>
    </a>
</div>